*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  // overflow-x: hidden;
  font-family: $font-main;
  font-size: $font-size;
  line-height: 1.5em;
  color: $color-light;
}

body {
  overflow-x: hidden;

  width: 100%;
  max-width: $xl;
  margin: 0 auto;
  opacity: 1;
  background-color: $color-warning;
  background-image: url(../img/global-bg.jpg);
  background-attachment: fixed;
  background-position: top center;
  background-size: cover;

  @include lg-min {
    padding: 0 $gap;
  }
  @include lg {
    padding: 0 $gap-sm;
  }
}

h1 {
  font-family: $font-header;
}


a {
  text-decoration: none;
  color: $color-light;
}

p {
  line-height: 2em;
  color: $color-gray;
}

.container {
  display: flex;

  @include lg {
    flex-wrap: wrap;
  }
}

.img-responsive {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.widget {
  background-color: rgba($color-dark, 0.5);
  padding: $gap-sm;
  border-radius: 7px;
  margin: 0 0 $gap-sm;

  h3 {
    margin-top: 5px;
    padding-bottom: 10px;
    font-family: $font-header;
    font-weight: 300;
    letter-spacing: 0.092em;
    border-bottom: 1px solid rgba($color-dark, 0.4);
  }
}

.widget:last-of-type {
  margin-bottom: 0;
}
