*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  font-family: $font-main;
  font-size: $font-size;
  line-height: 1.5em;
  color: $color-light;
}

body {
  width: 100%;
  max-width: $xl;
  margin: 0 auto;
  opacity: 1;
  background-color: $color-warning;
  background-image: url(../img/global-bg.jpg);
  background-attachment: fixed;
  background-position: top center;
  background-size: cover;

  @include lg-min {
    padding: 0 $gap;
  }
  @include lg {
    padding: 0 $gap-sm;
  }
}

a {
  text-decoration: none;
  color: $color-light;
}