@import "../../libs/normalize.css/normalize.css";
/* xl */
/* lg */
/* md */
/* sm */
/* xs */
/* xx */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  color: #eeeeee;
}

body {
  width: 100%;
  max-width: 1380px;
  margin: 0 auto;
  opacity: 1;
  background-color: #d8b036;
  background-image: url(../img/global-bg.jpg);
  background-attachment: fixed;
  background-position: top center;
  background-size: cover;
}

h1 {
  font-family: "Lora", serif;
}

a {
  text-decoration: none;
  color: #eeeeee;
}

p {
  color: #cccccc;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.img-responsive {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.widget {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px;
  border-radius: 7px;
  margin: 0 0 15px;
}
.widget h3 {
  margin-top: 5px;
  padding-bottom: 10px;
  font-family: "Lora", serif;
  font-weight: 300;
  letter-spacing: 0.09em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.widget:last-of-type {
  margin-bottom: 0;
}

.header {
  overflow: hidden;
  min-height: 100px;
  margin-bottom: 30px;
  border-radius: 0 0 7px 7px;
  background-color: rgba(0, 0, 0, 0.5);
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-logo__image {
  display: block;
}
.header-logo__title {
  display: block;
  margin-bottom: 15px;
  font-family: "Lora", serif;
  font-weight: 300;
}
.header-logo__description {
  letter-spacing: 0.2em;
  font-weight: 700;
  text-align: center;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(0, 0, 0, 0.3);
}
.header-menu__btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
}
.header-menu__btn--active .header-menu__btn-row:nth-of-type(1) {
  top: 9px;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
}
.header-menu__btn--active .header-menu__btn-row:nth-of-type(2) {
  opacity: 0;
}
.header-menu__btn--active .header-menu__btn-row:nth-of-type(3) {
  top: 9px;
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
}
.header-menu__btn-row {
  position: absolute;
  top: 0;
  left: 10px;
  display: block;
  width: 60%;
  height: 2px;
  margin-top: 15px;
  -webkit-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1;
  border-radius: 2.5px;
  background-color: #eeeeee;
}
.header-menu__btn-row:nth-of-type(1) {
  top: 0;
}
.header-menu__btn-row:nth-of-type(2) {
  top: 9px;
}
.header-menu__btn-row:nth-of-type(3) {
  top: 18px;
}
.header-menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.header-menu__list-item a {
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}
.header-menu__list-item a:focus, .header-menu__list-item a:hover {
  color: #e12727;
  background-color: rgba(0, 0, 0, 0.3);
  text-shadow: 1px 1px 3px #000000, 1px 1px 10px #000000;
}
.header-menu__list-item.active a {
  color: #bb1a1a;
  background-color: rgba(0, 0, 0, 0.4);
  text-shadow: 1px 1px 3px #000000, 1px 1px 10px #000000;
}
.header-menu__list-link {
  display: block;
  padding: 10px 15px;
  border-radius: 4px;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.main-breadcrumb {
  width: 100%;
  margin-bottom: 30px;
  padding: 8px 12px;
  text-align: right;
  letter-spacing: 0.1428em;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.8)));
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  border-radius: 7px;
}
.main-breadcrumb span {
  position: relative;
  color: #cccccc;
  margin-right: 7px;
}
.main-breadcrumb a {
  font-weight: bold;
}
.main-breadcrumb i {
  color: #cccccc;
  font-weight: bold;
}

.main-content__title {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.8)), color-stop(90%, rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 90%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 90%, rgba(0, 0, 0, 0) 100%);
  border-radius: 7px;
  margin: 30px 0;
  padding: 8px 12px;
  font-family: "Lora", serif;
  font-weight: 300;
  line-height: 1.5em;
}
.main-content__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -7.5px -7.5px 30px -7.5px;
}

.main-content-item {
  padding: 7.5px;
  position: relative;
}
.main-content-item__wrapper {
  position: relative;
  border: 5px solid rgba(0, 0, 0, 0.5);
  border-radius: 7px;
  overflow: hidden;
}
.main-content-item__title {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 30px;
  margin: 0;
  padding: 7px;
  -webkit-transition: background-color 0.5s color 0.5s;
  -o-transition: background-color 0.5s color 0.5s;
  transition: background-color 0.5s color 0.5s;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.0714em;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  font-weight: 300;
  line-height: 1em;
  text-shadow: 1px 1px 3px #000000, 1px 1px 10px #000000;
}
.main-content-item__excerpt {
  position: absolute;
  top: 210%;
  left: 0;
  width: 100%;
  height: calc(100% - 27px);
  margin: 0;
  padding: 15px;
  -webkit-transition: top 0.5s ease-out, background-color 0.5s ease-out;
  -o-transition: top 0.5s ease-out, background-color 0.5s ease-out;
  transition: top 0.5s ease-out, background-color 0.5s ease-out;
  text-align: center;
}
.main-content-item:hover .main-content-item__excerpt {
  display: block;
  top: 30px;
  background: rgba(0, 0, 0, 0.75);
  color: #eeeeee;
}
.main-content-item:hover .main-content-item__title {
  color: #e12727;
  background: rgba(0, 0, 0, 0.8);
}

.widget:last-of-type {
  margin-bottom: 0;
}

.widget-search form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: 15px 0 7px;
}
.widget-search__input {
  width: 100%;
  padding: 7px 8px 7px 40px;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  font-size: 0.85rem;
  border-radius: 4px;
  border: 1px solid rgba(238, 238, 238, 0.15);
  background-color: rgba(238, 238, 238, 0.1);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.widget-search__input::-webkit-input-placeholder {
  color: #cccccc;
}
.widget-search__input::-moz-placeholder {
  color: #cccccc;
}
.widget-search__input:-ms-input-placeholder {
  color: #cccccc;
}
.widget-search__input::-ms-input-placeholder {
  color: #cccccc;
}
.widget-search__input::placeholder {
  color: #cccccc;
}
.widget-search__submit {
  position: absolute;
  top: 0;
  bottom: 1px;
  left: 1px;
  padding: 5px 7px;
  cursor: pointer;
  color: #eeeeee;
  border: none;
  border-right: 1px solid rgba(238, 238, 238, 0.1);
  background-color: transparent;
}
.widget-search__submit:focus {
  outline: none;
}

.widget-categories__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.widget-categories__item a {
  display: block;
  padding: 5px 0;
  -webkit-transition: padding-left 0.5s;
  -o-transition: padding-left 0.5s;
  transition: padding-left 0.5s;
  border-radius: 4px;
}
.widget-categories__item a:hover {
  padding-left: 10px;
  color: #e12727;
  background: rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 3px #000000, 1px 1px 10px #000000;
}

.widget-text p {
  line-height: 2em;
}
.widget-text p:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .header-logo {
    padding: 45px 15px;
  }
  .header-logo__image {
    max-width: 400px;
    margin-bottom: 30px;
  }
  .header-logo__title {
    font-size: 3rem;
    line-height: 3.5rem;
    letter-spacing: 0.119em;
  }
  .header-menu__btn {
    display: none;
  }
  .header-menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header-menu__list-link {
    margin: 5px;
  }
  .main-content__title {
    font-size: 2rem;
    letter-spacing: 0.107em;
  }
  .main-content-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333%;
            flex: 0 0 33.3333%;
  }
}
@media (min-width: 992px) {
  .left {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 220px;
            flex: 0 0 220px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .left {
    width: 50%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
@media (min-width: 1200px) {
  body {
    padding: 0 30px;
  }
  .main {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% - 220px - 240px);
            flex: 0 0 calc(100% - 220px - 240px);
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media (max-width: 1199.8px) {
  body {
    padding: 0 15px;
  }
  .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 1199.8px) and (min-width: 992px) {
  .main {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% - 220px);
            flex: 0 0 calc(100% - 220px);
    padding-right: 0px;
    padding-left: 30px;
  }
}
@media (max-width: 991.8px) {
  .main {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
@media (max-width: 767.8px) {
  .header-logo {
    padding: 30px 15px;
  }
  .header-logo__description {
    font-size: 0.875rem;
    letter-spacing: 0.1em;
    line-height: 1.25em;
    font-weight: 400;
  }
  .header-menu__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header-menu__list {
    display: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    text-align: center;
  }
  .header-menu__list--active {
    display: block;
  }
  .header-menu__list-item:last-of-type {
    padding-bottom: 5px;
  }
  .header-menu__list-link {
    margin: 0 5px;
  }
}
@media (max-width: 767.8px) and (min-width: 480px) {
  .header-logo__image {
    min-width: 300px;
    margin-bottom: 15px;
  }
  .main-content-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}
@media (max-width: 767.8px) and (min-width: 576px) {
  .header-logo__title {
    font-size: 2rem;
    line-height: 2.5rem;
    letter-spacing: 0.178em;
  }
  .main-content__title {
    font-size: 1.5rem;
    letter-spacing: 0.1428em;
  }
}
@media (max-width: 575.8px) {
  .header-logo__title {
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: 0.238em;
  }
  .main-content__title {
    font-size: 1.5rem;
    letter-spacing: 0.214em;
  }
  .left {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
    margin-bottom: 15px;
  }
}
@media (max-width: 479.8px) {
  .header-logo__image {
    width: 80%;
    margin-bottom: 15px;
  }
  .main-content-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}