.main-content {
  &__title {
    margin: $gap 0;
    padding: 8px 12px;

    border-radius: 7px;
    background: linear-gradient(
    to right,
    rgba($color-dark, 0.8) 0%,
    rgba($color-dark, 0.5) 90%,
    rgba($color-dark, 0) 100%
    );

    font-family: $font-header;
    font-weight: 300;
    line-height: 1.5em;

    @include sm-min {
      letter-spacing: 0.107em;

      font-size: 2rem;
    }
    @include sm-xs {
      letter-spacing: 0.1428em;

      font-size: 1.5rem;
    }
    @include xs {
      letter-spacing: 0.214em;

      font-size: 1rem;
    }
  }

  &__body {
    display: flex;
    flex-wrap: wrap;

    margin: (-$gap-xxs) (-$gap-xxs) $gap (-$gap-xxs);
  }
}
